<nav id="navbar" class=" fixed w-full z-50 transition-all duration-300 py-6 bg-transparent">
    <div class="container mx-auto px-6 flex justify-between items-center">
        <span class="text-2xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-blue-600">
            <a href="#hero"> EGB.DEV </a>
        </span>
        <div class="hidden md:flex gap-8 text-sm font-medium text-slate-400">
            <a href="#about" class="hover:text-indigo-400 transition-colors">À propos</a>
            <a href="#stack" class="hover:text-indigo-400 transition-colors">Stack</a>
            <a href="#projects" class="hover:text-indigo-400 transition-colors">Projets</a>
            <a href="#experience" class="hover:text-indigo-400 transition-colors">Experience</a>
            <a href="#formation" class="hover:text-indigo-400 transition-colors">Formation</a>
            <a href="#interests" class="hover:text-indigo-400 transition-colors">Centres d'Intérêts</a>
            <a href="#space-news" class="hover:text-orange-400 transition-colors">Space News</a>
        </div>
        <a href="#contact"
            class="px-4 py-2 rounded-full bg-gradient-to-r from-sky-500 to-blue-600 hover:from-sky-400 hover:to-blue-500 text-white text-sm font-semibold transition-all shadow-lg shadow-indigo-500/30">
            Me Contacter
        </a>
    </div>
</nav>
<script type="module" src="src/components/layout/navbar.js"></script>